# macOS
.DS_Store
.AppleDouble
.LSOverride


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.log
.env
*.sqlite3
*.db
*.pth        # 模型文件
*.h5
*.ckpt
*.pt
*.ipynb_checkpoints/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env
*.local

*.shp
*.shx
*.dbf
*.prj
*.qmd
*.cpg
*.geojson
*.tif
*.tiff
*.backup
/data/tmp/
cache/
outputs/
logs/

# IDE
.vscode/

.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project
Dockerfile.*
docker-compose.override.yml